$width: 200px;
$height: 100px;
$color: red;

#box3 {
  height: $height;
  width: $width * 3;
  background-color: rgb(28, 238, 220);
  color: $color;
  backface-visibility: hidden;
}

#img1 {
  width: 200px;
  height: 80px;
  background-image: url("./2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#img2 {
  width: 200px;
  height: 80px;
  background-image: url("./1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#img3 {
  width: 200px;
  height: 80px;
  background-image: url("./3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
